@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    --main-bg-color: brown;
    /* Bleu foncé MZ */
    --bleu-fonce-mz: #273479;
    /* Bleu MZ */
    --bleu-mz: #0070CE;
    /* Noir nuit MZ */
    --noir-nuit-mz: #293955;
    /* Topaz MZ */
    --topaz-mz: #447E8F;
    /* Vert MZ */
    --vert-mz: #3C8275;
    /* Cyan MZ */
    --cyan-mz: #86B5DF;
    /* Noir MZ */
    --noir-mz: #3E2B31;
    /* Vert ok MZ */
    --vert-ok-mz: #7FD7A7;
    /* Rouge erreur MZ */
    --rouge-erreur-mz: #DF7F7F;
    /* Jaune faible MZ */
    --jaune-faible-mz: #E4CE2C;
    /* Orange majeur MZ */
    --orange-majeur-mz: #FF9900;
    /* Gris sombre MZ */
    --gris-sombre-mz: #9D9D9D;
    /* Gris na MZ */
    --gris-na-mz: #ECECEC;
    /* Blanc MZ */
    --blanc-mz: #FFFFFF;

    --margin:10px;
    --padding:10px;
    --radius:15px;
    font-family: 'Inter', sans-serif;
}

html, 
body {
    box-sizing: border-box;
    margin: 0;
    width:100%;
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr 10fr;
    grid-template-rows: 1fr 10fr 10fr;
    max-width: 100%;
    max-height: 100%;
}

.nav{
    display:flex;
    justify-content: right;
    margin: auto 0;
    grid-column: 1/2;
    grid-row: 2/4;
}

.header{
    border-left: solid 1px var(--noir-mz);
    display:flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/4;
    grid-row: 1/2;
    background: var(--blanc-mz);
}

.header .logo{
    display:flex;
    align-items: flex-end;
    object-fit:scale-down;
}

.header .search-bar{
    margin:10px;
    border-radius: 15px;
    border: 0;
    width:50%;
    padding:10px;
    background:var(--gris-na-mz);
    color:var(--gris-sombre-mz);
    font-size: medium;
}


.header .sync-data-btn{
    margin:10px;
    border-radius: 15px;
    border: 0;
    padding:10px;
    background:var(--bleu-mz);
    color:var(--blanc-mz);
    font-size: medium;
}

.header .sync-data-btn:hover{
    background:var(--bleu-fonce-mz);
}

.dashboard{
    border-left: solid 1px var(--noir-mz);
    display:grid;
    grid-column: 2/4;
    grid-row: 2/4;
    background: var(--blanc-mz);
    border-top: solid 1px var(--noir-mz);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.zone1, .zone2{
    padding: var(--padding);
}

.zone1{
    grid-column: 1/2;
    grid-row: 1/3;
    display:flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap:10px;
    overflow-y: scroll;
}

.zone2{
    grid-column: 2/3;
    grid-row: 1/2;
}



.nav-item{
    margin:0;
}

.nav-item:hover{
    fill:#0070CE;
    border-right: solid 3px var(--noir-mz);
}

.login-dialog{
    inset: 0;
    z-index: 1;
    border:none;
    opacity: 0.9;
    border-radius: var(--radius);
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:var(--margin);
}

.login-form input{
    border:transparent;
    border-radius: var(--radius);
    background: var(--gris-na-mz);
    padding:var(--padding);
    color:var(--gris-sombre-mz);
}

.login-form button{
    border:transparent;
    border-radius: var(--radius);
    background: var(--bleu-mz);
    padding:var(--padding);
    color:var(--blanc-mz);
}

.login-form button{
    border:transparent;
    border-radius: var(--radius);
    background: var(--bleu-mz);
    padding:var(--padding);
    color:var(--blanc-mz);
}

.loading{
    inset:0;
    z-index: 2;
    border:transparent;
}

.card{
    position:relative;
    flex-shrink: 0;
    width:220px;
    height:300px;
    border-radius: 15px;
    background: var(--bleu-mz);
}

.card:hover{
    transform:scale(1.05);
}

.card-settings{
    position:absolute;
    top:15px;
    right:15px;
}

.card-title{
    color:var(--blanc-mz);
    font-size: 24px;
    font-weight:bold;
    padding:var(--padding);
}

.card-status{
    padding-left:var(--padding);
    color:var(--blanc-mz);
}

.card-progress {
    border-radius: 7px; 
    padding-left : 20px;
    height: 5px;

}
.card-progress::-webkit-progress-bar {
background-color: var(--blanc-mz);
border-radius: 7px;
}

.card-progress::-webkit-progress-value {
background-color: var(--progress-color,#7FD7A7);
border-radius: 7px;
}
